body {
    background-color:#f0ead6;
}

ul,
ul ul {
    list-style:none;
    margin:0;
    padding:0;
}

ul ul {
    margin-left:10px;
    background:transparent repeat-y 0 100%;
}

ul li {
    margin:0;
    padding:0 12px;
    font-size:14px;
    line-height:20px;
    color: black;
    font-weight:bold;
}

ul ul li {
    background:transparent  no-repeat 0 0;
}

ul ul li.last,
ul ul li:last-child {
    background:transparent no-repeat 0 100%;
background-position:left top;
}